
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
.container{
    height: 100vh;
    width: 100%;
    display: grid;
    align-items: center;
    justify-content: end;
    padding-right: 10%;
    background: url(../image/logbg.png) no-repeat center;
    background-size: cover;
}
.container .card{
    /* border: 1px solid red; */
    width: 500px;
    /* height: 320px; */
    padding: 20px;
    border-radius: 30px;
    box-shadow: 0 0 15px;
    backdrop-filter: blur(5px);
}
.container .card .heading{
    /* border: 1px solid red; */
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #14571c;
}
.container .card .main{
    /* border: 1px solid red; */
    /* height: 200px; */
    display: flex;
    flex-direction: column;
    padding: 0 50px;
}
.container .card .main .box{
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    padding: 10px 35px;
    /* position: relative; */
}
.container .card .main .box label{
    font-size: 1.2rem;
    font-weight: 600;
    color: black;
}
.container .card .main .box input{
    font-size: 1rem;
    outline: none;
    border: none;
    color: rgb(0, 0, 0);
    border-bottom: 2px solid rgb(0, 0, 0);
    background: none;
    padding-bottom: 5px;
    padding-left: 5px;
}
.container .card .main .box input::placeholder{
    color: rgb(0, 0, 0);
    font-weight: 200;
    font-size: .9rem;
}
.container .card .main .box .error{
    color: rgb(255, 0, 0);
    font-size: 1rem;
    font-weight: 600;
    /* padding-bottom: 5px; */
}
.container .card .btn{
    /* border: 1px solid red; */
    height: 50px;
    display: grid;
    place-content: center;
}
.container .card .btn button{
    font-size: 1.2rem;
    padding: 5px 20px;
    border-radius: 20px;
    border: none;
    outline: none;
    cursor: pointer;
    box-shadow: 0 0 5px;
    background-color: rgba(0, 0, 0, 0.481);
    color: white;
    transition: .5s;
}
.container .card .btn button:hover{
    transform: translateY(-3px);
}
.container .card .foot{
    display: grid;
    place-content: center;
    padding: 10px 0;
    /* border: 1px solid red; */
}
.container .card .foot h3{
    font-weight: 400;
    font-size: 1rem;
    color: black;
}
.container .card .foot h3 a{
    color: #107d3f;
    padding-left: 10px;
    font-weight: 600;
}





@media (max-width: 992px) {

    .container {
        justify-content: center;
        padding-right: 0;
    }

    .container .card {
        width: 500px;
        padding: 20px;
    }

    .container .card .main {
        padding: 0 30px;
    }

    .container .card .main .box input {
        margin: 0 10px;
    }

}

@media (max-width: 576px) {

    .container {
        justify-content: center;
        padding: 20px;
    }

    .container .card {
        width: 100%;
        border-radius: 20px;
        padding: 15px;
    }

    .container .card .heading h1 {
        font-size: 1.5rem;
        text-align: center;
    }

    .container .card .main {
        padding: 0 10px;
    }

    .container .card .main .box label {
        font-size: 1rem;
    }

    .container .card .main .box input {
        font-size: .9rem;
        margin: 0;
    }

    .container .card .main .box .error {
        font-size: .8rem;
        margin-left: 0;
    }

    .container .card .btn button {
        font-size: 1rem;
        padding: 5px 15px;
    }

    .container .card .foot h3 {
        font-size: .9rem;
        text-align: center;
    }
}
