* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --font-1: 1.4rem;
    --weight-1: 600;
    --color-1: white;
    --bgcolor-1: #211509;
    --bgcolor-2: #f7f3f0;
    --btn-bgcol: #ba935b;
}

nav {
    background-color: var(--bgcolor-1);
}

.navbar {
    position: fixed;
    z-index: 999;
    width: 100%;
}

nav .container-fluid .navbar-toggler {
    color: #ba935b;
}

nav .container-fluid .navbar-toggler span {
    color: #ba935b;
}

nav .container-fluid ul li {
    font-size: var(--font-1);
    font-weight: var(--weight-1);
}

nav .container-fluid ul li a {
    color: var(--color-1);
}

nav .container-fluid .div a {
    font-weight: var(--weight-1);
    font-size: var(--font-1);
    color: var(--color-1);
}
nav .container-fluid .div a:hover{
    color: #f9c06f;
}

nav .nav-item a {
    position: relative;
}

nav .nav-item a::after {
    content: '';
    width: 0%;
    height: 2px;
    background: #f9c06f;
    position: absolute;
    left: 0%;
    bottom: 10%;
    transition: width 0.4s ease;
}

nav .nav-item a:hover::after {
    width: 100%;
}

/* abt-1
============== */

.abt-1 {
    background: url(../image/shoppi.png) no-repeat;
    background-size: cover;
    height: 100vh;
}

.abt-1 .wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #0000005c;
}

.abt-1 .wrapper h4 {

    color: var(--btn-bgcol);
}

.abt-1 .wrapper h1 {
    color: #f7f3f0;
    font-size: 3rem;
}


/* shop-2
==================== */


.shop-2 {
    /* border: 1px solid red; */
    display: flex;
    /* align-items: center; */
    position: relative;
}


.shop-2 .flex1 {
    /* border: 1px solid red; */
    /* width: 300px; */
    height: fit-content;
    position: sticky;
    top: 200px;
    left: 15px;
    background-color: #ba925b83;
    border-radius: 30px;
}

.shop-2 .flex1 .left-categry {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 20px;
    align-items: center;
    padding: 50px 40px;
}

.shop-2 .flex1 .left-categry select {
    border: none;
    outline: none;
    border-bottom: 2px solid black;
    background: transparent;
    font-size: 1.3rem;

}

.shop-2 .flex1 .left-categry select option {
    background-color: var(--bgcolor-1);
    color: white;
}



/* .shop-2 aside .left-categry button::after{
    content: '';
    width: 0%;
    height: 2px;  
    background: #f9c06f;
    position: absolute;
    left: 0%;
    bottom: 6%;
    transition: width 0.4s ease;
}
.shop-2 aside .left-categry button:hover::after{
    width: 80%;
} */


.shop-2 main {
    padding: 50px 0;
    position: relative;
}


.shop-2 main header {
    width: 100%;
    background-color: var(--bgcolor-1);
    padding: 0 5px;
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    z-index: 99;
    opacity: 0;
}

.shop-2 main header button {
    font-size: 1.5rem;
    padding: 0 10px;
    background-color: var(--btn-bgcol);
    border: none;
    outline: none;
    border-radius: 30px;
}

.shop-2 main header h1 {
    color: white;
}

/* page--6
=============== */



.page-6 .row2 {
    /* border: 1px solid red; */
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 60px;
    row-gap: 50px;
    padding: 50px 0 0;
}

.page-6 .row2 .box {
    /* border: 1px solid green; */
    width: 350px;
    /* height: 450px; */
    overflow: hidden;
}

.page-6 .row2 .box .bgcolor {
    background-color: red;
}

.page-6 .row2 .box .top {
    /* border: 1px solid red; */
    width: 100%;
    height: 350px;
    position: relative;
    overflow: hidden;
    transition: .5s;
}


.page-6 .row2 .box .top img {
    position: absolute;
    height: 100%;
    width: 100%;
}

.page-6 .row2 .box .top .img-2 {
    transition: 1s;
    /* visibility: hidden; */
    opacity: 0;
}

.page-6 .row2 .box:hover .top {
    border-radius: 50%;
    overflow: hidden;
}

.page-6 .row2 .box:hover .top .img-2 {
    transform: scale(1.1);
    border-radius: 50%;
    /* visibility: visible; */
    opacity: 1;
}

.page-6 .row2 .box .top .icons {
    height: 100%;
    width: 100%;
    position: absolute;
    top: -100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    transition: .9s;
}

.page-6 .row2 .box .top:hover .icons {
    top: 0;
}

.page-6 .row2 .box .top .icons button {
    font-size: 1.2rem;
    outline: none;
    border: none;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    background: white;
    transition: .5s;
}

.page-6 .row2 .box .top .icons button:hover {
    background-color: black;
    color: white;
    transform: translateY(-20%);
}

.page-6 .row2 .box .bottom {
    /* border: 1px solid red; */
    grid-area: bottom;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
}

.page-6 .row2 .box .bottom h4 {
    font-size: 1rem;
    color: var(--btn-bgcol);
}

.page-6 .row2 .box .bottom .cart {
    /* border: 1px solid red; */
    height: 24px;
    width: 40%;
    position: relative;
    overflow: hidden;
}

.page-6 .row2 .box .bottom .cart p {
    /* border: 1px solid red; */
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    font-size: 1.2rem;
    transition: .2s;
}

.page-6 .row2 .box .bottom .cart button {
    width: 100%;
    height: 100%;
    outline: none;
    border: none;
    background: transparent;
    position: absolute;
    bottom: -100%;
    transition: .2s;
    cursor: pointer;
}

.page-6 .row2 .box .bottom .cart button::after {
    content: '';
    position: absolute;
    width: 0%;
    height: 3px;
    left: 21%;
    bottom: 5%;
    background: black;
    transition: width 0.4s ease;
}

.page-6 .row2 .box .bottom .cart button:hover::after {
    width: 58%;
}

.page-6 .row2 .box:hover .bottom .cart p {
    top: -100%;
}

.page-6 .row2 .box:hover .bottom .cart button {
    bottom: 0;
}



@media screen and (max-width: 576px) {

    .shop-2 {
        flex-direction: column;
    }

    .shop-2 .left-categry {
        z-index: 999;
    }

    .shop-2 main header {
        position: absolute;
        top: 0;
        left: 0;
        height: 60px;
        align-items: center;
        padding: 0 15px;
        opacity: 1;
    }

    /* Sidebar */
    .shop-2 .flex1 {
        position: absolute;
        top: 110px;
        left: 0;
        /* height: 200px; */
        transform: translateX(-110%);
        transition: 0.3s ease;
        z-index: 1000;
        background-color: #ba925ba6;
        border-radius: 40px;
        width: 250px;
    }

    .shop-2 .tog {
        background-color: #ba925ba6;
        border-radius: 40px;
        width: 250px;
        transform: translateX(135%);
    }

    /* Main content */
    .shop-2 main {
        width: 100%;
        padding-top: 80px;
    }

    /* Product cards responsive */
    .page-6 .row2 {
        gap: 20px;
    }

    .page-6 .row2 .box {
        width: 90%;
    }

    .page-6 .row2 .box .top {
        height: 250px;
    }
}

@media screen and (min-width:576px) {
    .shop-2 .flex1 {
        height: 100%;
        top: 300px;
    }
}




/* footer */

footer {
    /* height: 100vh; */
    background: url(../image/banner-2.png) no-repeat center;
    background-size: cover;
}

footer .container1 {
    background-color: #211509e2;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 50px 0;
    /* border: 1px solid red; */
    gap: 30px;
    position: relative;
    overflow: hidden;
}

footer .container1 img {
    position: absolute;
}

footer .container1 .img1 {
    width: 200px;
    left: -3.5%;
    top: -12%;
    transform: rotate(-120deg);
}

footer .container1 .img2 {
    width: 200px;
    right: 0%;
    top: -20%;
}

footer .container1 .box {
    /* border: 1px solid red; */
    width: 20em;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 20px;
    text-align: center;
    align-items: center;
}

footer .container1 .box h1 {
    line-height: 30px;
    font-size: 1.7rem;
    color: #f9c06f;
}

footer .container1 .box span {
    font-weight: 600;
    font-size: 1.3rem;
    color: var(--bgcolor-2);
}

footer .container1 .box input {
    height: 50px;
    background-color: transparent;
    outline: none;
    border: 1px solid var(--btn-bgcol);
    border-radius: 20px;
    padding-left: 20px;
    color: var(--btn-bgcol);
}

footer .container1 .box input::placeholder {
    font-weight: 600;
    color: var(--btn-bgcol);
}

footer .container1 .box button {
    width: 40%;
    padding: 10px 0;
    background-color: transparent;
    border: none;
    border-radius: 10px;
    font-size: 1.3rem;
    font-weight: 600;
    border: 1px solid var(--btn-bgcol);
    color: var(--btn-bgcol);
}

footer .container1 .box button:hover {
    background-color: var(--btn-bgcol);
    color: black;
}

footer .container1 .box2 {
    align-items: center;
    gap: 20px;
}

footer .container1 .box2 a {
    text-decoration: none;
    font-size: var(--font-1);
    color: var(--bgcolor-2);
    position: relative;

}

footer .container1 .box2 a::after {
    content: '';
    width: 0%;
    height: 2px;
    background: #f9c06f;
    position: absolute;
    left: 0%;
    bottom: 0%;
    transition: width 0.4s ease;
}

footer .container1 .box2 a:hover::after {
    width: 100%;
}

footer .container1 .box p {
    color: var(--bgcolor-2);
}

footer .container1 .box p:hover {
    color: var(--btn-bgcol);
}

footer .container1 .box .icons {
    /* border: 1px solid red; */
    display: flex;
    gap: 20px;
}

footer .container1 .box .icons a {
    font-size: 2rem;
    color: white;
    transition: .8s;
}

footer .container1 .box .icons a:hover {
    transform: translateY(-20px);
    color: var(--btn-bgcol);
}

footer .container1 .foot h5 {
    text-align: center;
    color: #f9c06f;
}


@media all and (max-width:576px) {
    footer .container1 .box {
        text-align: center;
        align-items: center;
    }

    footer .container1 .box button {
        padding: 5px 0;
    }

    footer .foot {
        padding: 20px 10px;
        text-align: center;
    }
}

@media all and (max-width:768px) {
    footer .container1 {
        align-items: start;
    }

    footer .container1 .box {
        /* border: 1px solid  red; */
        height: 20em;
        text-align: center;
        align-items: center;
    }

    footer .container1 .box3 {
        /* gap: 10px; */
        margin-top: -10px;
        height: 30em;
    }

    footer .container1 .box4 {
        /* gap: 10px; */
        margin-top: -10px;
    }

    footer .foot {
        padding: 20px 10px;
        text-align: center;
    }
}