@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.category-page1{
    height: 88vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.category-page1 form{
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    border-radius: 20px;
    box-shadow: 0 0 5px;
    backdrop-filter: blur(3px);
}
.category-page1 form label{
    font-size: 2rem;
}
.category-page1 form .input{
    display: flex;
    flex-direction: column;
}
.category-page1 form .input input{
    border: none;
    outline: none;
    background: none;
    border-bottom: 2px solid white;
    padding: 2px 5px;
    font-size: 1rem;
    color: white;
    font-weight: 600;
}
::placeholder{
    color: black;
    font-weight: 400;
}

.category-page1 form .btn button{
padding: 5px 20px;
background-color: #3c4a1b;
border: none;
outline: none;
border-radius: 30px;
color: white;
cursor: pointer;
}

.category-page1 form select{
    width: 100%;
}
