@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.container {
    display: flex;
    position: relative;
    background: url(../image/banner-2.png) center no-repeat;
    background-size: cover;
    background-attachment: fixed;

}

.flex1 {
    padding: 10px;
    height: 100vh;
    position: sticky;
    top: 0;
    background: #000000c8;
}

.menuBar {
    height: 100%;
    /* width: 300px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.menuBar .account {
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.account .photo {
    /* border: 1px solid red; */
    height: 80px;
    width: 80px;
    border-radius: 50%;
}
.account .photo img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.account .email h3 {
    font-size: 1rem;
    color: #e6c393;
}

.menuBar .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    /* padding: 20px; */
    gap: 20px;
}

footer h3{
    color: white;
}

.content {
    padding: 20px;
}

.content ul {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.content ul li {
    list-style: none;
}

.conten ul li:hover a {
    color: #e6c393;
}

.content ul li:hover i {
    color: white;
}

.content ul li a {
    font-size: 1.3rem;
    text-decoration: none;
    position: relative;
    color: white;
    transition: .5s;
}

.content ul li i {
    font-size: 1.7rem;
    padding-right: 50px;
    transition: .5s;
    color: #e6c393;
}

.content ul li a::after {
    content: '';
    width: 0%;
    height: 2px;
    background: white;
    position: absolute;
    left: 0%;
    bottom: 2%;
    transition: width 0.4s ease;
}

.content ul li a:hover::after {
    width: 100%;
}



.menuBar footer {
    padding: 30px;
}

.flex2 {
    width: 100%;
}

.flex2 header {
    padding: 10px 20px;
    background-color: #000000c8;

}

header nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

nav .start {
    padding: 10px 20px;
    display: flex;
    gap: 40px;

}

nav .start button {
    background: none;
    border: none;
    font-size: 1.4em;
    color: white;
    display: none;
}

nav .end {
    padding: 9px 20px;
    display: flex;
    gap: 40px;
}
nav .end h1{
    color: wheat;
}



@media screen and (max-width:576px) {

    .flex1 {
        position: fixed;
        top: 15%;
        left: 0;
        width: 250px;
        height: 100vh;
        transform: translateX(-110%);
        transition: 0.3s ease;
        z-index: 1000;
    }

    .flex1.tog {
        transform: translateX(0);
    }

    .flex2 {
        /* width: 100%; */
        padding: 10px;
    }

    nav .start {
        padding: 10px 0px;
        display: flex;
        gap: 10px;

    }
    nav .start button {
    display: block;
}

    .flex2 header {
        padding: 10px 0px;

    }

    nav .start a {
        font-size: 1.2em;
    }

    nav .start button {
        /* background: none; */
        /* border: none; */
        font-size: 1.5rem;

    }

    /* nav .start button:hover{
    background-color: black;
} */

    nav .end {
        /* border: 1px solid red; */
        padding: 10px 0px;
        display: flex;
        gap: 10px;
    }

    nav .end button {
        /* border: 1px solid red; */
        background: none;
        border: none;
        font-size: 1.2em;
    }

    .content ul li a {
        font-size: 1rem;
    }
}


.flex2 .cards {
    padding: 30px 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    row-gap: 20px;
}

.flex2 .cards .box {
    width: 250px;
    border-radius: 20px;
    overflow: hidden;
}

.flex2 .cards .box .top {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.flex2 .cards .box1 {
    background-color: #16a2b8;
}

.flex2 .cards .box2 {
    background-color: #28a645;
}

.flex2 .cards .box3 {
    background-color: #ffc108;
}

.flex2 .cards .box4 {
    background-color: #db3545;
}

.flex2 .cards .box .left {
    gap: 10px;
    place-content: center;
    padding: 20px 0;
}

.flex2 .cards .box .left h1 {
    font-weight: 600;
    font-size: 1.6rem;
    color: white;
}

.flex2 .cards .box .left h4 {
    font-weight: 600;
    font-size: 1.2rem;
    color: white;
}

/* .flex2 .cards .box .right {
    place-content: center;
} */

.flex2 .cards .box .right p {
    font-size: 2rem;
    color: rgba(0, 0, 0, 0.412);
    transition: .8s;
}

.flex2 .cards .box .bottom {
    text-align: center;
}

.flex2 .cards .box .bottom1 {
    background-color: #1693a6;
}

.flex2 .cards .box .bottom2 {
    background-color: #24963f;
}

.flex2 .cards .box .bottom3 {
    background-color: #e6ae07;
}

.flex2 .cards .box .bottom4 {
    background-color: #c7303f;
}

.flex2 .cards .box .bottom a {
    text-decoration: none;
    font-size: 1.2rem;
    color: white;
}

.flex2 .cards .box .bottom a i {
    padding-left: 15px
}

.flex2 .cards .box .bottom:hover {
    background-color: #00000041;
}

.flex2 .cards .box:hover .right p {
    transform: scale(1.2);
}