@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.prodform-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px;
  row-gap: 50px;
}

.box {
  height: auto;
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 25px;
  border-radius: 20px;
  box-shadow: 0 0 5px;
  backdrop-filter: blur(6px);
}

.box .title {
  color: black;
  font-size: 1.6rem;
  font-weight: 600;
}


.box .input {
  display: flex;
  flex-direction: column;
  width: 90%;
  gap: 2px;
}

.box .input input {
  border: none;
  outline: none;
  border-bottom: 2px solid white;
  color: white;
  font-size: 1rem;
  font-weight: 500;
  background: none;
  padding: 5px 15px;
}

.box .input select {
  border: none;
  border-bottom: 2px solid white;
  outline: none;
  background: none;
  color: black;
  font-size: 1rem;
  padding: 15px 15px 15px 8px;
  /* border-radius: 8px; */
}


.box input::placeholder {
  font-size: 1rem;
  font-weight: 400;
  color: black;
}

.input .error {
  color: white;
  padding-left: 2px;
}

.btn button {
  border: none;
  background-color: #3c4a1b;
  color: white;
  padding: 10px 25px;
  font-size: 1.1rem;
  font-weight: 600;
  border-radius: 30px;
  cursor: pointer;
  transition: .2s;
}

.btn button:hover {
  background-color: transparent;
  color: black;
  box-shadow: 0 0 2px;
}

.table-div {
  backdrop-filter: blur(6px);
  box-shadow: 0 0 5px;
}
.table-div table,
th,
td {
  box-shadow: 0 0 2px;
  border-collapse: collapse;
  padding: 20px 20px;
}

.table-div table th {
  color: black;
  font-size: 1.2rem;
}

.table-div table td {
  color: black;
  font-size: 1rem;
}




@media all and (max-width:768px) {
  .box {
    width: 300px;
  }

  .table-div table,
  th,
  td {
    border: 1px solid white;
    border-collapse: collapse;
    padding: 2px 2px;
  }

  .table-div table th {
    color: white;
    font-size: .6rem;
  }

  .table-div table td {
    color: white;
    font-size: .4rem;
  }

  .table-div table td img {
    width: 30px;
    height: 30px;
  }
  .table-div table tbody td button{
    font-size: .2rem;
  }
}